@model VMTipoDocumento
<div class="container box-shadow p-5">
    <div>
        <h2>Editar tipo de documento</h2>
    </div>

    <form method="post" asp-controller="TipoDocumento" asp-action="Edit">
        <div asp-validation-summary=All></div>
        <div class="form-group col-md-6">
            <label asp-for="Nombre">Nombre del documento</label>
            <input type="text" class="form-control mb-3" asp-for="Nombre" placeholder="Ingrese el nombre" />
            <span asp-validation-for="Nombre" class="alert-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Descripcion">Descripción del documento</label>
            <input type="text" class="form-control mb-3" asp-for="Descripcion" placeholder="Ingrese la descripción" />
            <span asp-validation-for="Descripcion" class="alert-danger"></span>
        </div>
        <input type="hidden" asp-for="UpdatedAt" id="updated_at">
        <button type="submit" class="btn btn-primary btn-lg p-2"><i class="bi bi-file-plus-fill"></i>Actualizar</button>
        <a asp-controller="TipoDocumento" asp-action="Index" class="btn btn-lg btn-danger p-2">Regresar</a>
    </form>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <script type="text/javascript">
        document.getElementById("updated_at").value = Date();
    </script>
   
    
}